body {
    margin: 50px;
    background-color: rgb(255, 255, 255);
    background-image: url(https://images.news18.com/ibnlive/uploads/2021/08/1627795239_national-mountain-climbing-day.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    animation-name: opac;
    animation-duration: 20s;
    animation-iteration-count: unset;
}

@keyframes opac {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }
}

a {
    margin: 2em;
    padding: 5px;
    background-color: #864e2e;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
}

.top_links {
    text-align: right;
    margin: 0 7vw;

}

.heading {
    text-align: center;
}

h1 {
    padding: 1.5em;
    font-family: 'Black Ops One', cursive;
    font-size: 200px;
    text-align: center;
    color: #942721;
}


.desc {
    padding: 1em;
    color: white;
    width: 30%;
    display: inline-block;
    background-color: #b03827;
    border-radius: 5%;
    font-family: 'Poppins', sans-serif;
}

.main {
    margin: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.image_tool {
    width: 50%;
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.image_bag {

    width: 50%;
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;

    /* got the idea from stackoverflow  */
    z-index: 300;


}

#tool {
    width: 150px;
    animation-name: move;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

#tool1 {
    width: 150px;
    animation-name: move;
    animation-duration: 55s;
    animation-iteration-count: infinite;
}

#tool2 {
    width: 150px;
    animation-name: move;
    animation-duration: 57s;
    animation-iteration-count: infinite;
}



@keyframes move {
    0% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50vh);
    }

    90% {
        transform: translateY(70vh);
    }

}